body {
	margin: 8px;
	font-family: Arial, sans-serif;
}
.page,
.disclaimer {
	width: 616px;
}
.page {
	height: 900px;
	position: relative;
	page-break-after: always;
	margin: 0 auto 2em;
	text-align: left;
}
.page:last-of-type {
	page-break-after: auto;
}
.page-bg {
	height: 900px;
}
.row {
	position: absolute;
}
.disclaimer p {
	margin: 0;
}
.row p:first-child {
	margin-top: 0;
}
.row p:last-child {
	margin-bottom: 0;
}

.disclaimer {
	color: darkred;
	border: 1px solid;
	padding: 0.2em 0.5em;
	font-size: 11px;
	box-sizing: border-box;
	margin: 2em auto 1em;
}

@media print {
	body {
		/* force firefox to scale on print */
		min-width: 740px;
	}
}
