body {
	margin: 0;
	font-family: Arial, sans-serif;
}

em {
	font-style: inherit;
	text-decoration: underline;
}

.page {
	width: 20cm;
	margin-left: auto;
	margin-right: auto;
	/* HACK to avoid scrambling the last printed page in firefox */
	border-top: 1px solid transparent;
}
.page {
	height: 28cm;
	position: relative;
	page-break-after: always;
	text-align: left;
}
.page:last-of-type {
	page-break-after: auto;
}
.page-bg {
	width: 20cm;
}
.row {
	position: absolute;
}
.row p:first-child {
	margin-top: 0;
}
.row p:last-child {
	margin-bottom: 0;
}
.row.layer1 {
	font-style: italic;
}
[lang=ar] .row.layer1,
[lang=ru] .row.layer1 {
	font-style: inherit;
}

@media (print) {
	.page {
		margin-left: 0;
		margin-right: 0;
	}
}
