body {
	margin: 0;
	font-family: Arial, sans-serif;
}

em {
	font-style: inherit;
	text-decoration: underline;
}
ol, ul {
	padding-left: 2em;
}
ul:first-child,
ol:first-child,
p:first-child {
	margin-top: 0;
}
ul:last-child,
ol:last-child,
p:last-child {
	margin-bottom: 0;
}

table th[scope="row"] {
	text-align: start;
}

.page {
	width: 20cm;
	height: 28cm;
	/* HACK to avoid scrambling the last printed page in firefox */
	border-top: 1px solid transparent;
	position: relative;
	page-break-after: always;
	text-align: left;
}
.page:last-of-type {
	page-break-after: auto;
}
.page-bg {
	width: 20cm;
}
.page :visited {
	color: blue;
}
.row {
	position: absolute;
}
.row p:first-child {
	margin-top: 0;
}
.row p:last-child {
	margin-bottom: 0;
}

.canvas {
	padding: 1em;
}

.running-top,
.running-bottom {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	padding: 0.2em 0.5em;
	color: red;
}
.running-top {
	top: 0;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.running-bottom {
	bottom: 0;
}

@media screen {
	.page {
		margin: 3em auto;
		box-shadow: 2px 2px 6px 2px #888;
	}
}

.page--cover {
	box-sizing: border-box;
	text-align: start;
	padding: 1em;
}
.page--cover h1 {
	text-align: center;
}
.overlong {
	word-break: break-all;
}
.disclaimer {
	font-size: 125%;
	color: red;
	margin: 3em 0;
}
