@import "variables.less";
@import "bower_components/mfbs/src/base.less";

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: serif;
}

dt {
    float: left;
    clear: left;
    width: 8em;
    padding-right: 0.5em;
    text-overflow: ellipsis;
}
dd {
    margin-left: 10em;
}
