@import "variables.less";
@import "bower_components/mfbs/src/base.less";

html {
    font-family: 'Droid Sans', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: serif;
}

dt {
    float: left;
    clear: left;
    width: 8.5em;
    text-overflow: ellipsis;
}
dd {
    margin-left: 9em;
    word-wrap: break-word;
}

.translation-table {
    width: 100%;
    font-size: small;

    tr {
        border: 0;
    }
    td, th {
        border: 1px solid @color-border;
    }
    th {
        text-transform: uppercase;
    }

    tbody {
        tr:nth-child(odd) {
            background: @color-bg-tint;
        }
        tr.title,
        tr.structure {
            font-weight: bold;
        }
    }
}

ul.inline {
    list-style: none;
    padding: 0;

    li {
        display: inline;
    }
}

.landing {
    text-align: center;
}

.disclaimer {
    color: @color-link;
    border: 1px solid mix(@color-link, @color-bg-tint, 25%);
    background: mix(@color-link, @color-bg-tint, 15%);
    border-radius: 0.3em;
    padding: 0.8em;
    margin-bottom: 1em;
}

.language-footer {
    font-size: small;
    border: 1px solid @color-border;
    background: @color-bg-tint;
    padding: 0 0.5em;

    ul {
        display: inline;
    }
}
