<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang_id }}" dir="{{ lang_id | text_direction }}">

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <meta name="viewport" content="width=device-width" />

    {% block head %}
    <title>Formularprojekt</title>
    {% endblock head %}
</head>

<body>
    <header>
        {% block header %}
        <h1 class="page-title">
            <a rel="home" href="{{ url_for('formularprojekt.index_route') }}">{{ 'Formularprojekt' | translate(lang_id, 'meta') }}</a>
        </h1>
        {% endblock header %}
    </header>

    <main id="main">
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>
