{% extends 'base.html' %}'

{% block head %}
<title>{{ translations[lang_id].meta.formularprojekt }}</title>
{% endblock %}

{% block main %}

<h2>{{ translations[lang_id].meta.about_header }}</h2>

{{ translations[lang_id].meta.about | markdown}}

<h2>{{ translations[lang_id].meta.translated_documents }}</h2>

<ul>
    {% for form_id in translations[lang_id] %}
    {% if form_id != 'meta' %}
    <li><a href="{{ url_for('formularprojekt.translation_route', lang_id=lang_id, form_id=form_id) }}">
        {{ forms[form_id].title }}
    </a></li>
    {% endif %}
    {% endfor %}
</ul>

<footer class="language-footer">
    {{ translations[lang_id].meta.switch }}

    <ul class="inline">
        {% for _lang_id in translations | sort %}
        <li><a
            href="{{ url_for('formularprojekt.language_route', lang_id=_lang_id) }}"
            rel="alternate"
            lang="{{_lang_id}}">
            {{ translations[_lang_id].meta.language }}</a></li>
        {% endfor %}
    </ul>
</footer>
{% endblock %}
