{% extends 'base.html' %}'

{% block head %}
<title>{{ 'Formularprojekt' | translate(lang_id, 'meta') }}</title>
{% endblock %}

{% block main %}

<h2>{{ 'Über dieses Projekt' | translate(lang_id, 'meta') }}</h2>

{{ 'about' | translate(lang_id, 'meta') | markdown}}

<h2>{{ 'Übersetzte Dokumente' | translate(lang_id, 'meta') }}</h2>

<ul>
    {% for form_id in translations[lang_id] | sort %}
    {% if form_id != 'meta' %}
    <li><a href="{{ url_for('formularprojekt.translation_route', lang_id=lang_id, form_id=form_id) }}">
        {{ forms[form_id].title }}
    </a></li>
    {% endif %}
    {% endfor %}
</ul>

<footer class="language-footer">
    {{ 'Sprache wechseln:' | translate(lang_id, 'meta') }}

    <ul class="inline">
        {% for _lang_id in translations | sort %}
        <li><a
            href="{{ url_for('formularprojekt.language_route', lang_id=_lang_id) }}"
            rel="alternate"
            lang="{{_lang_id}}">
            {{ 'language' | translate(_lang_id, 'meta') }}</a></li>
        {% endfor %}
    </ul>
</footer>
{% endblock %}
