{% extends 'base.html' %}'

{% block head %}
<title>{{ 'Formularprojekt' | translate(lang_id, 'meta') }} - translation status</title>
{% endblock %}

{% block main %}
{% for lang_id in langs %}
<section>
    <h2 id="{{lang_id}}">{{ 'language' | translate(lang_id, 'meta', lang_id) }}</h2>
    <table>
        <thead>
            <th>form</th>
            <th>translated</th>
            <th>untranslated</th>
            <th>extra</th>
        </thead>
        <tbody>
            <tr class="stat-style-{{stats[lang_id].meta.style}}">
                <td>meta</td>
                <td>{{ stats[lang_id].meta.translated | length }}</td>
                <td>{{ stats[lang_id].meta.untranslated | length }}</td>
                <td>{{ stats[lang_id].meta.extra | length }}</td>
            </tr>
            {% for form_id, data in stats[lang_id].items() %}
            {% if form_id != 'meta' %}
            <tr class="stat-style-{{data.style}}">
                <td>{{ forms[form_id].title }}</td>
                <td>{{ data.translated | length }}</td>
                <td>{{ data.untranslated | length }}</td>
                <td>{{ data.extra | length }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</section>
{% endfor %}
{% endblock %}
