{% extends 'base.html' %}'

{% block head %}
<title>{{ 'Formularprojekt' | translate(lang_id, 'meta') }} - {{ forms[form_id].title }}</title>
{% endblock %}

{% block main %}
<div class="disclaimer">{{ 'Disclaimer' | translate(lang_id, 'meta') }}</div>

<table class="m-dl">
    <tr>
        <th>{{ 'Titel' | translate(lang_id, 'meta') }}</th>
        <td><bdi lang="de" dir="ltr">{{ forms[form_id].title }}</bdi></td>
    </tr><tr>
        <th>{{ 'Sprache' | translate(lang_id, 'meta') }}</th>
        <td><a href="{{ url_for('formularprojekt.language_route', lang_id=lang_id) }}">
            {{ 'language' | translate(lang_id, 'meta') }}
        </a></td>
    </tr><tr>
        <th>{{ 'Zuletzt aktualisiert' | translate(lang_id, 'meta') }}</th>
        <td>{{ forms[form_id].date }}</td>
    </tr><tr>
        <th>{{ 'Originaldokument' | translate(lang_id, 'meta') }}</th>
        <td><a href="{{ forms[form_id].url }}" class="overlong">{{ forms[form_id].url }}</a></td>
    </tr>
</table>

<table class="translation-table">
    <thead>
        <tr>
            <th></th>
            <th>{{ 'Deutsch' | translate(lang_id, 'meta') }}</th>
            <th>{{ 'language' | translate(lang_id, 'meta') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="title">
            <td></td>
            <td dir="ltr" lang="de">{{ forms[form_id].title }}</td>
            <td>{{ forms[form_id].title | translate(lang_id, form_id) }}</td>
        </tr>

        {% for row in forms[form_id].rows %}
        <tr class="{% if row[0] %}structure{% endif %}">
            <td>{{ row[0] }}</td>
            <td dir="ltr" lang="de">{{ row[1] | markdown }}</td>
            <td>{{ row[1] | translate(lang_id, form_id) | markdown }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<footer class="language-footer">
    {{ 'Sprache wechseln:' | translate(lang_id, 'meta') }}

    <ul class="inline">
        {% for _lang_id in available_languages | sort %}
        <li><a
            href="{{ url_for('formularprojekt.translation_route', lang_id=_lang_id, form_id=form_id) }}"
            rel="alternate"
            dir="{{ _lang_id | text_direction }}"
            lang="{{_lang_id}}">
            {{ 'language' | translate(_lang_id, 'meta') }}</a></li>
        {% endfor %}
    </ul>
</footer>
{% endblock %}
