{% extends 'base.html' %}'

{% block head %}
<title>{{ translations[lang_id].meta.formularprojekt }} - {{ forms[form_id].title }}</title>
{% endblock %}

{% block main %}
<div class="disclaimer">{{translations[lang_id].meta.disclaimer}}</div>

<aside>
	<a href="{{ url_for('formularprojekt.language_route', lang_id=lang_id) }}">language overview</a>

	<ul>
		{% for _lang_id in available_languages %}
		<li><a
			href="{{ url_for('formularprojekt.translation_route', lang_id=_lang_id, form_id=form_id) }}"
			rel="alternate"
			lang="{{_lang_id}}">
			{{ translations[_lang_id].meta.language }}
		</a></li>
		{% endfor %}
	</ul>
</aside>

<dl>
	<dt>title</dt>
		<dd>{{forms[form_id].title}}</dd>
	<dt>Stand</dt>
		<dd>{{forms[form_id].date}}</dd>
	<dt>language</dt>
		<dd>{{translations[lang_id].meta.language}}</dd>
</dl>

<table class="translation-table">
	<thead>
		<tr>
			<th></th>
			<th>source</th>
			<th>translation</th>
		</tr>
	</thead>
	<tbody>
		{% for row in forms[form_id].rows %}
		<tr class="{% if row[0] %}structure{% endif %}">
			<td>{{ row[0] }}</td>
			<td>{{ row[1] }}</td>
			<td>{{ translations[lang_id][form_id][row[1]] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
