{% extends 'base.html' %}'

{% block head %}
<title>{{ 'Formularprojekt' | translate(lang_id, 'meta') }} - {{ forms[form_id].title }}</title>
{% endblock %}

{% block main %}
<div class="disclaimer">{{ 'Disclaimer' | translate(lang_id, 'meta') }}</div>

<dl>
    <dt>{{ 'Titel' | translate(lang_id, 'meta') }}</dt>
        <dd>{{ forms[form_id].title }}</dd>
    <dt>{{ 'Sprache' | translate(lang_id, 'meta') }}</dt>
        <dd><a href="{{ url_for('formularprojekt.language_route', lang_id=lang_id) }}">
            {{ 'language' | translate(lang_id, 'meta') }}
        </a></dd>
    <dt>{{ 'Zuletzt aktualisiert' | translate(lang_id, 'meta') }}</dt>
        <dd>{{ forms[form_id].date }}</dd>
    <dt>{{ 'Originaldokument' | translate(lang_id, 'meta') }}</dt>
        <dd><a href="{{ forms[form_id].url }}">{{ forms[form_id].url }}</a></dd>
</dl>

<table class="translation-table">
    <thead>
        <tr>
            <th></th>
            <th>{{ 'Deutsch' | translate(lang_id, 'meta') }}</th>
            <th>{{ 'language' | translate(lang_id, 'meta') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="title">
            <td></td>
            <td>{{ forms[form_id].title }}</td>
            <td>{{ forms[form_id].title | translate(lang_id, form_id) }}</td>
        </tr>

        {% for row in forms[form_id].rows %}
        <tr class="{% if row[0] %}structure{% endif %}">
            <td>{{ row[0] }}</td>
            <td>{{ row[1] | markdown }}</td>
            <td>{{ row[1] | translate(lang_id, form_id) | markdown }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<footer class="language-footer">
    {{ 'Sprache wechseln:' | translate(lang_id, 'meta') }}

    <ul class="inline">
        {% for _lang_id in available_languages | sort %}
        <li><a
            href="{{ url_for('formularprojekt.translation_route', lang_id=_lang_id, form_id=form_id) }}"
            rel="alternate"
            lang="{{_lang_id}}">
            {{ 'language' | translate(_lang_id, 'meta') }}</a></li>
        {% endfor %}
    </ul>
</footer>
{% endblock %}
